main {
	height: auto;
	position: relative;
}

h2, h3 {
	font-size: 1.2rem;
}

.card-link {
	height: 100%;
}

.card-deck .member-card {
  list-style: none;
  position: relative;
  width: 100%;
  display: inline-flex;
}

.card-deck .member-card a.card-link {
  text-align: right;
  display: block;
  z-index: 1;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } 
}
