// Team Page Styles

	.container {
		// background-color: green;
		display: flex;
		width: 100%;
		height: 100%;

	}
	
	.row {
		width: 100%;
	}
		
		
	label {
		
		min-width: 50%;
		max-width: 90%;
		// background-color: magenta;
	
	}
	
	span {
		min-width: 50%;
	}
	
	input {
	min-width: 50%;
	max-width: 90%;
	}
	
	#pokemonOne {}
	#pokemonTwo {}
	#pokemonThree {}
	#pokemonFour {}
	#pokemonFive {}
	#pokemonSix {}
	
	#pokemonOne, 
	#pokemonTwo,
	#pokemonThree, 
	#pokemonFour,
	#pokemonFive,
	#pokemonSix {
		display: flex block;	
		background-color: grey;
		height: 15%;
		width: 100%;
	}
	