// Dutch Color Palette

$sunflower: #ffc312;
$radiant-yellow: #f79f1f;
$puffins-bill: #ee5a24;
$red-pigment: #ea2027;

$energos: #c4e538;
$android-green: #a3cb38;
$pixelated-grass: #009432;
$turkish-aqua: #006266;

$blue-martina: #12cbc4;
$mediterranean-sea: #1289a7;
$merchant-marine-blue: #0652dd;
$leagues-under-the-sea: #1b1464;

$lavender-rose: #fda7df;
$lavender-tea: #d980fa;
$forgotten-purple: #9980fa;
$circumorbital-ring: #5758bb;

$bara-red: #ed4c67;
$very-berry: #b53471;
$hollyhock: #833471;
$magenta-purple: #6f1e51;
