@charset "UTF-8";
.btn-apps {
  background: #607d8b;
}
.btn-apps:hover, .btn-apps:focus {
  background-color: #668594 !important;
}
.btn-apps.active {
  background-color: #41545e !important;
}

.btn-boot {
  background: #FFFFFF;
}
.btn-boot:hover, .btn-boot:focus {
  background-color: white !important;
}
.btn-boot.active {
  background-color: #d9d9d9 !important;
}

.btn-card {
  background: #673AB7;
}
.btn-card:hover, .btn-card:focus {
  background-color: #6e3ec2 !important;
}
.btn-card.active {
  background-color: #46287d !important;
}

.btn-cite {
  background: #009688;
}
.btn-cite:hover, .btn-cite:focus {
  background-color: #00a596 !important;
}
.btn-cite.active {
  background-color: #004a43 !important;
}

.btn-code {
  background: #3f51b5;
}
.btn-code:hover, .btn-code:focus {
  background-color: #4558be !important;
}
.btn-code.active {
  background-color: #2b387c !important;
}

.btn-doom {
  background: #000000;
}
.btn-doom:hover, .btn-doom:focus {
  background-color: #080808 !important;
}
.btn-doom.active {
  background-color: black !important;
}

.btn-film {
  background: #FF5722;
}
.btn-film:hover, .btn-film:focus {
  background-color: #ff6331 !important;
}
.btn-film.active {
  background-color: #d53300 !important;
}

.btn-find {
  background: #8BC34A;
}
.btn-find:hover, .btn-find:focus {
  background-color: #92c755 !important;
}
.btn-find.active {
  background-color: #649130 !important;
}

.btn-font {
  background: #795548;
}
.btn-font:hover, .btn-font:focus {
  background-color: #835c4e !important;
}
.btn-font.active {
  background-color: #49332b !important;
}

.btn-give {
  background: #4CAf50;
}
.btn-give:hover, .btn-give:focus {
  background-color: #55b559 !important;
}
.btn-give.active {
  background-color: #357a38 !important;
}

.btn-join {
  background: #03A9F4;
}
.btn-join:hover, .btn-join:focus {
  background-color: #0ab1fc !important;
}
.btn-join.active {
  background-color: #0275a8 !important;
}

.btn-logo {
  background: #FF9800;
}
.btn-logo:hover, .btn-logo:focus {
  background-color: #ff9e0f !important;
}
.btn-logo.active {
  background-color: #b36a00 !important;
}

.btn-meme {
  background: #000000;
}
.btn-meme:hover, .btn-meme:focus {
  background-color: #080808 !important;
}
.btn-meme.active {
  background-color: black !important;
}

.btn-more {
  background: #607D8B;
}
.btn-more:hover, .btn-more:focus {
  background-color: #668594 !important;
}
.btn-more.active {
  background-color: #41545e !important;
}

.btn-news {
  background: #2196F3;
}
.btn-news:hover, .btn-news:focus {
  background-color: #309df4 !important;
}
.btn-news.active {
  background-color: #0a6ebd !important;
}

.btn-odds {
  background: #CDDC39;
}
.btn-odds:hover, .btn-odds:focus {
  background-color: #d0de46 !important;
}
.btn-odds.active {
  background-color: #9daa1e !important;
}

.btn-pick {
  background: #FFC107;
}
.btn-pick:hover, .btn-pick:focus {
  background-color: #ffc516 !important;
}
.btn-pick.active {
  background-color: #ba8b00 !important;
}

.btn-poke {
  background: #E91E63;
}
.btn-poke:hover, .btn-poke:focus {
  background-color: #ea2c6d !important;
}
.btn-poke.active {
  background-color: #aa1145 !important;
}

.btn-poll {
  background: #9c27b0;
}
.btn-poll:hover, .btn-poll:focus {
  background-color: #a72abd !important;
}
.btn-poll.active {
  background-color: #641971 !important;
}

.btn-rest {
  background: #607d8b;
}
.btn-rest:hover, .btn-rest:focus {
  background-color: #668594 !important;
}
.btn-rest.active {
  background-color: #41545e !important;
}

.btn-shop {
  background: #F44336;
}
.btn-shop:hover, .btn-shop:focus {
  background-color: #f55145 !important;
}
.btn-shop.active {
  background-color: #d2190b !important;
}

.btn-spin {
  background: #00bcd4;
}
.btn-spin:hover, .btn-spin:focus {
  background-color: #00cae3 !important;
}
.btn-spin.active {
  background-color: #007888 !important;
}

.btn-user {
  background: #9E9E9E;
}
.btn-user:hover, .btn-user:focus {
  background-color: #a6a6a6 !important;
}
.btn-user.active {
  background-color: #787878 !important;
}

.btn-vote {
  background: #FFEB3B;
}
.btn-vote:hover, .btn-vote:focus {
  background-color: #ffed4a !important;
}
.btn-vote.active {
  background-color: #eed500 !important;
}

.type-normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
}

.type-fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
}

.type-flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
}

.type-poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
}

.type-ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
}

.type-rock {
  background-color: #b8a038;
  border: 1px solid #786824;
}

.type-bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
}

.type-ghost {
  background-color: #705898;
  border: 1px solid #493963;
}

.type-steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
}

.type-fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
}

.type-water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
}

.type-grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
}

.type-electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
}

.type-psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
}

.type-ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
}

.type-dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
}

.type-dark {
  background-color: #705848;
  border: 1px solid #49392f;
}

.type-fairy {
  background-color: #ee99ac;
  border: 1px solid #9b6470;
}

h1.text-normal,
h2.text-normal,
h3.text-normal,
h4.text-normal,
h5.text-normal,
h6.text-normal,
p.text-normal,
span.text-normal,
a.text-normal {
  color: #a8a878;
}
h1.text-fighting,
h2.text-fighting,
h3.text-fighting,
h4.text-fighting,
h5.text-fighting,
h6.text-fighting,
p.text-fighting,
span.text-fighting,
a.text-fighting {
  color: #c03028;
}
h1.text-flying,
h2.text-flying,
h3.text-flying,
h4.text-flying,
h5.text-flying,
h6.text-flying,
p.text-flying,
span.text-flying,
a.text-flying {
  color: #a890f0;
}
h1.text-poison,
h2.text-poison,
h3.text-poison,
h4.text-poison,
h5.text-poison,
h6.text-poison,
p.text-poison,
span.text-poison,
a.text-poison {
  color: #a040a0;
}
h1.text-ground,
h2.text-ground,
h3.text-ground,
h4.text-ground,
h5.text-ground,
h6.text-ground,
p.text-ground,
span.text-ground,
a.text-ground {
  color: #e0c068;
}
h1.text-rock,
h2.text-rock,
h3.text-rock,
h4.text-rock,
h5.text-rock,
h6.text-rock,
p.text-rock,
span.text-rock,
a.text-rock {
  color: #b8a038;
}
h1.text-bug,
h2.text-bug,
h3.text-bug,
h4.text-bug,
h5.text-bug,
h6.text-bug,
p.text-bug,
span.text-bug,
a.text-bug {
  color: #a8b820;
}
h1.text-ghost,
h2.text-ghost,
h3.text-ghost,
h4.text-ghost,
h5.text-ghost,
h6.text-ghost,
p.text-ghost,
span.text-ghost,
a.text-ghost {
  color: #705898;
}
h1.text-steel,
h2.text-steel,
h3.text-steel,
h4.text-steel,
h5.text-steel,
h6.text-steel,
p.text-steel,
span.text-steel,
a.text-steel {
  color: #b8b8d0;
}
h1.text-fire,
h2.text-fire,
h3.text-fire,
h4.text-fire,
h5.text-fire,
h6.text-fire,
p.text-fire,
span.text-fire,
a.text-fire {
  color: #f08030 !important;
}
h1.text-water,
h2.text-water,
h3.text-water,
h4.text-water,
h5.text-water,
h6.text-water,
p.text-water,
span.text-water,
a.text-water {
  color: #6890f0;
}
h1.text-grass,
h2.text-grass,
h3.text-grass,
h4.text-grass,
h5.text-grass,
h6.text-grass,
p.text-grass,
span.text-grass,
a.text-grass {
  color: #78c850;
}
h1.text-electric,
h2.text-electric,
h3.text-electric,
h4.text-electric,
h5.text-electric,
h6.text-electric,
p.text-electric,
span.text-electric,
a.text-electric {
  color: #f8d030;
}
h1.text-psychic,
h2.text-psychic,
h3.text-psychic,
h4.text-psychic,
h5.text-psychic,
h6.text-psychic,
p.text-psychic,
span.text-psychic,
a.text-psychic {
  color: #f85888;
}
h1.text-ice,
h2.text-ice,
h3.text-ice,
h4.text-ice,
h5.text-ice,
h6.text-ice,
p.text-ice,
span.text-ice,
a.text-ice {
  color: #98d8d8;
}
h1.text-dragon,
h2.text-dragon,
h3.text-dragon,
h4.text-dragon,
h5.text-dragon,
h6.text-dragon,
p.text-dragon,
span.text-dragon,
a.text-dragon {
  color: #7038f8;
}
h1.text-dark,
h2.text-dark,
h3.text-dark,
h4.text-dark,
h5.text-dark,
h6.text-dark,
p.text-dark,
span.text-dark,
a.text-dark {
  color: #705848;
}
h1.text-fairy,
h2.text-fairy,
h3.text-fairy,
h4.text-fairy,
h5.text-fairy,
h6.text-fairy,
p.text-fairy,
span.text-fairy,
a.text-fairy {
  color: #ee99ac;
}

/*
*
*/
/*
* Game List


$color-game-red: #FF0000;

$color-game-blue: #0000FF;

$color-game-yellow: #FFFF00;


Gold
Silver
Crystal
Ruby
Sapphire
FireRed

LeafGreen

Emerald
Diamond
Pearl
Platinum
HeartGold
SoulSilver
Black
White
Black 2
White 2
X
Y
Omega Ruby
Alpha Sapphire
Sun
Moon
Ultra Sun
Ultra Moon
Let's Go Pikachu

Let's Go Eevee

Sword

Shield

*/
/*
* Game List
Red
Blue
Yellow
Gold
Silver
Crystal
Ruby
Sapphire
FireRed
LeafGreen
Emerald
Diamond
Pearl
Platinum
HeartGold
SoulSilver
Black
White
Black 2
White 2
X
Y
Omega Ruby
Alpha Sapphire
Sun
Moon
Ultra Sun
Ultra Moon
Let's Go Pikachu

Let's Go Eevee

Sword

Shield

*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button {
  font-family: "Press Start 2P", cursive !important;
}
h1.gameboy,
h2.gameboy,
h3.gameboy,
h4.gameboy,
h5.gameboy,
h6.gameboy,
p.gameboy,
li.gameboy,
a.gameboy,
button.gameboy {
  font-family: "Press Start 2P", cursive !important;
}

input[type=text].gameboy {
  background-color: #c5d1a3;
  font-family: "Press Start 2P", cursive;
  margin-left: 2em;
}

.btn-gameboy {
  background: #202119;
  font-family: "Press Start 2P", cursive;
}
.btn-gameboy:hover, .btn-gameboy:focus {
  background-color: #555a40 !important;
}
.btn-gameboy.active {
  background-color: #23241a !important;
}

body.gameboy {
  background-color: #e6ecca;
}

nav.gameboy {
  background-color: #4d513a;
}

.jumbotron.gameboy {
  color: #4d513a;
  background-color: #c5d1a3 !important;
}

div.card-body.gameboy {
  background-color: #c5d1a3;
}

footer.gameboy {
  color: #F7F9F6;
  background-color: #4d513a;
  font-family: "Press Start 2P", cursive;
}

a {
  color: #F7F9F6;
  text-decoration: none;
}
a.btn-gameboy {
  font-family: "Press Start 2P", cursive !important;
  text-decoration: none;
}
a.btn-gameboy:hover {
  text-decoration: none;
}

.page-home main {
  min-height: 500px;
  margin-top: 0;
  padding-top: 0;
}
.page-home main .feature-image {
  margin-top: 0;
  padding-top: 0;
  background-color: #F7F9F6;
  background-image: url "images/whos-that-pokemon.png";
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
.page-home main .feature-image h1 {
  color: #8d956e;
  font-size: 3rem;
  font-weight: 700;
}
.page-home main .feature-image h2 {
  color: #8d956e;
  font-size: 2.5rem;
  font-weight: 700;
}
.page-home main .feature-image p {
  color: #8d956e;
  font-size: 6;
  font-weight: 500;
}
.page-home main .feature-image form.pokemon-by-number .md-form.form-group input#pokeno {
  margin-left: 1rem;
  padding-left: 1rem;
}
.page-home main .feature-image form.pokemon-by-number .md-form.form-group label {
  margin-left: 1rem;
  padding-left: 1rem;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  p {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
  }
}
@media (max-width: 1199.98px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
footer.page-footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.z-depth-1-half, .btn-apps.active, .btn-boot.active, .btn-card.active, .btn-cite.active, .btn-code.active, .btn-doom.active, .btn-film.active, .btn-find.active, .btn-font.active, .btn-give.active, .btn-join.active, .btn-logo.active, .btn-meme.active, .btn-more.active, .btn-news.active, .btn-odds.active, .btn-pick.active, .btn-poke.active, .btn-poll.active, .btn-rest.active, .btn-shop.active, .btn-spin.active, .btn-user.active, .btn-vote.active, .btn-gameboy.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

div.card-type-list {
  display: flex;
  flex-flow: row wrap;
}
div.card-type-list div.chip {
  justify-content: space-between;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header p {
  color: #ffffff;
  opacity: 1;
  text-shadow: 2px 2px #880e4f;
}

header h2 {
  text-shadow: 1px 1px #880e4f;
}

footer.page-footer {
  margin-top: 0 !important;
  z-index: 2;
}

.scroll-btn {
  z-index: 99;
}

.move-list,
.ability-list,
.stat-list {
  text-transform: uppercase;
}

.the-pokemon,
.the-pokemon-alt {
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  margin: auto;
}

#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  color: #fff;
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */
.content {
  font-family: "Press Start 2P", "Merriweather", sans-serif !important;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
  margin: 50px auto;
  width: 77%;
}

h1 {
  margin-bottom: -10px;
  color: #202119;
  line-height: 1.5;
}

h3 {
  font-style: italic;
  color: #202119;
}

.scroll-btn {
  align-content: right;
  text-align: right;
  transform: rotate(90deg);
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }

  #button {
    margin: 30px;
  }
}

/*# sourceMappingURL=single-pokemon.css.map */
