@use '../styles/variables' as variables;
@use '../styles/mixins';
// @use '../node_modules/bootstrap/scss/bootstrap.scss';
@use '../styles/gameboy';
@use '../styles/pokemon-types';
// $color-black: #212529;

:root {
  color-scheme: lightå dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Press Start 2P', Inter, Helvetica, Arial, system-ui, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-rendering: optimizeLegibility;
  width: 100%;
  --background: #ffffff;
  --foreground: #171717;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  text-align: center;

}

.nes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  place-items: center;

  .row {
    .imgProfessorOak {
      margin-top: 3rem;
      height: 256px;
      width: 256px;
      
    }
    &.row-types {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      place-items: center;
      padding: 1rem 0;

    }
  }
}

.nes-balloon {
  justify-content: flex-end;

  p {
    margin-top: 0 !important;

  }
}

.avatar {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
}

.pokemonAvatar {
  height: auto;
  width: 96px;
  
}

.itemAvatar {
  height: auto;
  margin: auto;
  width: 64px;

}

.wrapperOak {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;

  .imgProfessorOak {
    align-self: flex-end;
    
  }
}

#professorMessages {
  padding-top: 1.5rem;

}

.pokemonName {
  font-size: 1.2rem;
  text-align: center;
  
}

h1 { 
  &.oakHello {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    
    sup {
      font-size: 1.6rem;
      top: -0.8rem;

    }
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.rowStats {

  display: flex;
  flex-direction: row;
  
  .stats {
    align-self: center;
  }

}

.linkSmall > * {
  font-size: 60%;
  word-wrap: break-word;
}

dialog ul li {
  list-style: none;
  margin-bottom: .5rem;

}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card-type-list {
  display: flex;
  flex-flow: row wrap;
  .chip {
    justify-content: space-between;
  }
}

header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #ffffff;
    opacity: 1;
    text-shadow: 2px 2px #880e4f;
  }
  h2 {
    text-shadow: 1px 1px #880e4f;
  }
  width: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
}

[unresolved] {
  display: none;
}

.nes-table-responsive {
  margin: auto;
  width: 100%;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .nes-container, .nes-balloon {
    background-color: --background;
    color: --foreground;
  }

}

@media (prefers-color-scheme: light) {
  
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
    color: --foreground;
    background-color: --background;
  }

  .nes-container, .nes-balloon {
    background-color: --background;
    color: --foreground;
  }
  
  a:hover {
    
    color: #747bff;
    
  }
  
  button {
    
    background-color: #f9f9f9;
    
  }

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


section {
  &#professorMessages {
    section.message { 
      div.nes-balloon {
        p {
          color: variables.$color-black;
        }
      }
    }
  }
}


body {

  background-color: #4D513A !important;

}

footer {
  &.page-footer {

    margin-top: 0 !important;
  }
}

label {

  padding-left: 1em;
  padding-bottom: inherit;
  text-align: center;

}

label:hover,
label:active,
label:focus {

  margin-bottom:.5em;
  padding-bottom: 1.325em;

}

input[type=text].gameboy {

  margin-left:-.5em;

}


.feature-image {
  background-image: url('https://punreliable-oak.s3.us-east-1.amazonaws.com/assets/whos-that-pokemon.png');
}

.text-dark {
  color: variables.$color-text-shadow;
}

.nes-button {

  &.hidden {
    display: none;
  }

}
