@use '../../mixins' as mixins;
@use '../../variables' as variables;
@use '../base/variables' as nesVariables;
@use '../utilities/icon-mixin.scss' as pixelize;

.nes-select {
  // prettier-ignore
  $dropdown: (
    (1,1,1,1,1,1,1),
    (1,1,1,1,1,1,1),
    (0,1,1,1,1,1,0),
    (0,1,1,1,1,1,0),
    (0,0,1,1,1,0,0),
    (0,0,0,1,0,0,0),
  );
  $colors: (variables.$base-color, map-get(nesVariables.$default-colors, "shadow"));

  position: relative;
  width: calc(100% - #{2 * variables.$border-size});
  margin: 4px;

  select {
    @include mixins.compact-rounded-corners();

    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    // cursor: $cursor-click-url, pointer;
    border-radius: 0;
    outline-color: map-get(nesVariables.$default-colors, "hover");
    -webkit-appearance: none;
    appearance: none;

    &:invalid {
      color: map-get(nesVariables.$disabled-colors, shadow);
    }
  }

  &.is-dark select {
    color: variables.$background-color;
    background-color: variables.$base-color;
  }

  &::after {
    @include pixelize.pixelize(3px, $dropdown, $colors);
    position: absolute;
    top: calc(50% - 11px);
    right: 36px;
    pointer-events: none;
    content: "";
  }

  // prettier-ignore
  $types:
    "dark" map-get(nesVariables.$default-colors, "normal") map-get(nesVariables.$default-colors, "hover"),
    "success" map-get(nesVariables.$success-colors, "normal") map-get(nesVariables.$success-colors, "hover"),
    "warning" map-get(nesVariables.$warning-colors, "normal") map-get(nesVariables.$warning-colors, "hover"),
    "error" map-get(nesVariables.$error-colors, "normal") map-get(nesVariables.$error-colors, "hover"),
    "disable" map-get(nesVariables.$disabled-colors, "normal") map-get(nesVariables.$disabled-colors, "shadow");
  @each $type in $types {
    &.is-#{nth($type, 1)} {
      $color: nth($type, 2);

      &::after {
        color: $color;
      }

      select {
        @include mixins.compact-border-image($color);
        outline-color: nth($type, 3);
		
      }
    }
  }
  &.is-disabled {
    @extend .is-disable;
    select {
      color: map-get(nesVariables.$disabled-colors, "normal");
      cursor: not-allowed;
    }
  }
}
