/* Error: Undefined variable.
 *   ,
 * 1 | $icon-close-colors: ($base-color);
 *   |                      ^^^^^^^^^^^
 *   '
 *   /Volumes/Macintosh HD/Users/brian/Sites/comicui/poke/styles/nes/icons/close.scss 1:22  @import
 *   /Volumes/Macintosh HD/Users/brian/Sites/comicui/poke/styles/nes/icons/icons.scss 21:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  $icon-close-colors: ($base-color);\a   \2502                       ^^^^^^^^^^^\a   \2575 \a   /Volumes/Macintosh HD/Users/brian/Sites/comicui/poke/styles/nes/icons/close.scss 1:22  @import\a   /Volumes/Macintosh HD/Users/brian/Sites/comicui/poke/styles/nes/icons/icons.scss 21:9  root stylesheet";
}
