@use '../../variables' as vars;
@use '../../pokemon-types' as pokemonTypes;

$color-default-hover: #e7e7e7;
$color-default-shadow: #adafbc;

$color-disabled-normal: #d3d3d3;
$color-disabled-shadow: #adafbc;

$color-primary-normal: #209cee;
$color-primary-hover: #108de0;
$color-primary-shadow: #006bb3;

$color-success-normal: #92cc41;
$color-success-hover: #76c442;
$color-success-shadow: #4aa52e;

$color-warning-normal: #f7d51d;
$color-warning-hover: #f2c409;
$color-warning-shadow: #e59400;

$color-error-normal: #e76e55;
$color-error-hover: #ce372b;
$color-error-shadow: #8c2022;

$background-color: #A8A878;

$default-colors: (
  normal: $background-color,
  hover: #e7e7e7,
  shadow: #adafbc
) !default;
$disabled-colors: (
  normal: #d3d3d3,
  shadow: #adafbc
) !default;
$primary-colors: (
  normal: #209cee,
  hover: #108de0,
  shadow: #006bb3
) !default;
$success-colors: (
  normal: #92cc41,
  hover: #76c442,
  shadow: #4aa52e
) !default;
$warning-colors: (
  normal: #f7d51d,
  hover: #f2c409,
  shadow: #e59400
) !default;
$error-colors: (
  normal: $color-error-normal,
  hover: $color-error-hover,
  shadow: $color-error-shadow
) !default;

@mixin span-style-is-icon($color, $background-color, $display, $width, $font-size) {
  display: $display;
  align-items: center;
  justify-content: center;
  width: $width;
  font-size: $font-size;
  color: $color;
  text-align: center;
  background-color: $background-color;
}

@mixin span-style($color, $background, $option, $width: 50%) {
  // position: absolute;
  position: relative;
  top: 0;
  width: $width;
  color: $color;
  text-align: center;
  background-color: $background;

  @if $option == left {
    left: 0;
  } @else if $option == right {
    right: 0;
  }
}

@mixin badge-style($color, $background, $option: is-default) {
  $box-shadow-first-two: 0 0.5em $background, 0 -0.5em $background;

  @if $option == is-split {
    &:first-child {
      @include span-style($color, $background, left);
      position: relative;

      box-shadow: $box-shadow-first-two, 0 0 $background, -0.5em 0 $background;
    }
    &:last-child {
      @include span-style($color, $background, right);
      position: relative;
      box-shadow: $box-shadow-first-two, 0.5em 0 $background, 0 0 $background;
    }
  } @else if $option == is-icon {
    &:first-child {
      @include span-style-is-icon($color, $background, flex, 2.7em, 0.5em);
      //position: absolute;
      position: relative;
      top: -2.8em;
      left: -2.7em;
      height: 2.7em;
    }
    &:last-child {
      @include span-style-is-icon($color, $background, inline-block, 6em, 0.88em);

      box-shadow: $box-shadow-first-two, 0.5em 0 $background, -0.5em 0 $background;
    }
  } @else {
    &:first-child {
      @include span-style($color, $background, 0, 100%);
      position: relative;
      box-shadow: $box-shadow-first-two, 0.5em 0 $background, -0.5em 0 $background;
    }
  }
}

// Default style
.nes-badge, .nesBadge {
  $em: 0.75em;

  position: relative;
  display: inline-block;
  width: $em * 14;
  height: $em * 2.5;
  margin: 0.5em;
  font-size: $em * 1.2;
  white-space: nowrap;
  vertical-align: top;
  user-select: none;

  // Other styles
  // prettier-ignore
  $types:
    "primary" $background-color map-get($primary-colors, "normal"),
    "success" $background-color map-get($success-colors, "normal"),
    "warning" vars.$base-color map-get($warning-colors, "normal"),
    "error" $background-color map-get($error-colors, "normal"), 
    "normal" vars.$color-type-normal-highlight vars.$color-type-normal-shadow,
    "fighting" vars.$color-type-fighting-highlight vars.$color-type-fighting-shadow,
    "flying" vars.$color-type-flying-highlight vars.$color-type-flying-shadow,
    "poison" vars.$color-type-poison-highlight vars.$color-type-poison-shadow,
    "ground" vars.$color-type-ground-highlight vars.$color-type-ground-shadow,
    "rock" vars.$color-type-rock-highlight vars.$color-type-rock-shadow,
    "bug" vars.$color-type-bug-highlight vars.$color-type-bug-shadow,
    "ghost" vars.$color-type-ghost-highlight vars.$color-type-ghost-shadow,
    "steel" vars.$color-type-steel-highlight vars.$color-type-steel-shadow,
    "fire" vars.$color-type-fire-highlight vars.$color-type-fire-shadow,
    "water" vars.$color-type-water-highlight vars.$color-type-water-shadow,
    "grass" vars.$color-type-grass-highlight vars.$color-type-grass-shadow,
    "electric" vars.$color-type-electric-highlight vars.$color-type-electric-shadow,
    "psychic" vars.$color-type-psychic-highlight vars.$color-type-psychic-shadow,
    "ice" vars.$color-type-ice-highlight vars.$color-type-ice-shadow,
    "dragon" vars.$color-type-dragon-highlight vars.$color-type-dragon-shadow,
    "dark" vars.$color-type-dark-highlight vars.$color-type-dark-shadow,
    "fairy" vars.$color-type-fairy-highlight vars.$color-type-fairy-shadow;
  //  "shadow" $color-type-shadow-highlight $color-type-shadow-shadow
  
  
  @each $type in $types {

    &.is-splited, // deprecated. Please use .is-split
    &.is-split {
      & span.is-#{nth($type, 1)} {
        @include badge-style(nth($type, 2), nth($type, 3), is-split);
      }
    }

    &.is-icon {
      width: $em * 7;
      & span.is-#{nth($type, 1)} {
        @include badge-style(nth($type, 2), nth($type, 3), is-icon);
      }
    }

    & span.is-#{nth($type, 1)} {
      @include badge-style(nth($type, 2), nth($type, 3));
    }
    a { 
      color: vars.$darkest-green;
    }
  }

}
