@use '../../variables' as vars;
@use '../../mixins' as mixins;

@mixin box-shadow($color, $fromLeft: true) {
  @if $fromLeft {
    // prettier-ignore
    box-shadow:
      -4px 0,
      4px 0,
      -4px 4px $color,
      0 4px,
      -8px 4px,
      -4px 8px,
      -8px 8px;

  } @else {
    // prettier-ignore
    box-shadow:
      -4px 0,
      4px 0,
      4px 4px $color,
      0 4px,
      8px 4px,
      4px 8px,
      8px 8px;

  }
}

.nes-balloon {
  @include mixins.rounded-corners();
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 8px;
  margin-bottom: 30px;
  background-color: vars.$brighter-green;

  > :last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &.is-dark {
    @include mixins.rounded-corners(true);

    color: vars.$darkest-green;
    background: vars.$brightest-green;
    border-image-outset: 2;
    box-shadow: 0 0 0 8px vars.$darkest-green;

    &.from-left,
    &.from-right {
      &::before {
        background-color: vars.$brighter-green;
        border-color: vars.$darkest-green;
      }

      &::after {
        color: vars.$brightest-green;
        background-color: vars.$brighter-green;
      }
    }

    &.from-left {
      &::before {
        box-shadow: -5px 10px 0 6px vars.$brightest-green;
      }
      &::after {
        @include box-shadow(vars.$darkest-green);
      }
    }

    &.from-right {
      &::before {
        box-shadow: 5px 10px 0 6px vars.$brightest-green;
      }
      &::after {
        @include box-shadow(vars.$darkest-green, false);
      }
    }
  }

  &.from-left {
    &::before,
    &::after {
      left: 2rem;
    }

    &::before {
      bottom: -14px;
      width: 26px;
      height: 10px;
      background-color: vars.$brighter-green;
      border-right: 4px solid vars.$darker-green;
      border-left: 4px solid vars.$darker-green;
    }

    &::after {
      bottom: -18px;
      width: 18px;
      height: 4px;
      margin-right: 8px;
      color: vars.$brightest-green;
      background-color: vars.$brighter-green;
      @include box-shadow(vars.$darkest-green);
    }
  }

  &.from-right {
    &::before,
    &::after {
      right: 2rem;
    }

    &::before {
      bottom: -14px;
      width: 26px;
      height: 10px;
      background-color: vars.$brighter-green;
      border-right: 4px solid vars.$darker-green;
      border-left: 4px solid vars.$darker-green;
    }

    &::after {
      bottom: -18px;
      width: 18px;
      height: 4px;
      margin-left: 8px;
      background-color: vars.$brighter-green;
      @include box-shadow(vars.$darkest-green, false);
    }
  }
}
