@use '../../variables' as variables;
@use '../base/variables' as nesVariables;
@use '../../mixins' as mixins;

$border-size: 4px;
$color-black: #212529;
$base-color: variables.$color-black !default;

@mixin btn-style($color, $background, $hover-background, $shadow) {
  color: $color;
  background-color: $background;

  &::after {
    position: absolute;
    top: -$border-size;
    right: -$border-size;
    bottom: -$border-size;
    left: -$border-size;
    content: "";
    box-shadow: inset -4px -4px $shadow;
  }

  &:hover {
    color: $color;
    text-decoration: none;
    background-color: $hover-background;

    &::after {
      box-shadow: inset -6px -6px $shadow;
    }
  }

  &:focus {
    box-shadow: 0 0 0 6px rgba($shadow, 0.3);
  }

  &:active:not(.is-disabled)::after {
    box-shadow: inset 4px 4px $shadow;
  }
}

// Default style
.nes-btn {
  @include mixins.compact-rounded-corners();

  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: variables.$border-size;
  text-align: center;
  vertical-align: middle;
  // cursor: variables.$cursor-click-url, pointer;
  user-select: none;

  @include btn-style(
    variables.$base-color,
    map-get(nesVariables.$default-colors, "normal"),
    map-get(nesVariables.$default-colors, "hover"),
    map-get(nesVariables.$default-colors, "shadow")
  );

  &:focus {
    outline: 0;

  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    color: variables.$base-color;
    cursor: not-allowed;
    background-color: map-get(nesVariables.$disabled-colors, "normal");
    box-shadow: inset -4px -4px map-get(nesVariables.$disabled-colors, "shadow");
    opacity: 0.6;
  }

  &.is-disabled:hover::after {
    box-shadow: inset -4px -4px map-get(nesVariables.$disabled-colors, "shadow");
  }

  // Other styles
  // prettier-ignore
  $types:
    "primary" variables.$background-color map-get( nesVariables.$primary-colors, "normal") map-get( nesVariables.$primary-colors, "hover") map-get( nesVariables.$primary-colors, "shadow"),
    "success" variables.$background-color map-get( nesVariables.$success-colors, "normal") map-get( nesVariables.$success-colors, "hover") map-get( nesVariables.$success-colors, "shadow"),
    "warning" variables.$base-color map-get(nesVariables.$warning-colors, "normal") map-get(nesVariables.$warning-colors, "hover") map-get(nesVariables.$warning-colors, "shadow"),
    "error" variables.$background-color map-get( nesVariables.$error-colors, "normal") map-get( nesVariables.$error-colors, "hover") map-get( nesVariables.$error-colors, "shadow"),
    "bug" variables.$background-color map-get(variables.$bug-type-colors, "normal") map-get(variables.$bug-type-colors, "hover") map-get(variables.$bug-type-colors, "shadow"),
    "dark" variables.$background-color map-get(variables.$dark-type-colors, "normal") map-get(variables.$dark-type-colors, "hover") map-get(variables.$dark-type-colors, "shadow"),
    "dragon" variables.$background-color map-get(variables.$dragon-type-colors, "normal") map-get(variables.$dragon-type-colors, "hover") map-get(variables.$dragon-type-colors, "shadow"),
    "electric" variables.$base-color map-get(variables.$electric-type-colors, "normal") map-get(variables.$electric-type-colors, "hover") map-get(variables.$electric-type-colors, "shadow"),
    "fairy" variables.$background-color map-get(variables.$fairy-type-colors, "normal") map-get(variables.$fairy-type-colors, "hover") map-get(variables.$fairy-type-colors, "shadow"),
    "fight" variables.$color-fighting map-get(variables.$fighting-type-colors, "normal") map-get(variables.$fighting-type-colors, "hover") map-get(variables.$fighting-type-colors, "shadow"),
    "fire" variables.$base-color map-get(variables.$fire-type-colors, "normal") map-get(variables.$fire-type-colors, "hover") map-get(variables.$fire-type-colors, "shadow"),
    "flying" variables.$background-color map-get(variables.$flying-type-colors, "normal") map-get(variables.$flying-type-colors, "hover") map-get(variables.$flying-type-colors, "shadow"),
    "ghost" variables.$background-color map-get(variables.$ghost-type-colors, "normal") map-get(variables.$ghost-type-colors, "hover") map-get(variables.$ghost-type-colors, "shadow"),
    "grass" variables.$background-color map-get(variables.$grass-type-colors, "normal") map-get(variables.$grass-type-colors, "hover") map-get(variables.$grass-type-colors, "shadow"),
    "ground" variables.$base-color map-get(variables.$ground-type-colors, "normal") map-get(variables.$ground-type-colors, "hover") map-get(variables.$ground-type-colors, "shadow"),
    "ice" variables.$background-color map-get(variables.$ice-type-colors, "normal") map-get(variables.$ice-type-colors, "hover") map-get(variables.$ice-type-colors, "shadow"),
    "normal" variables.$base-color map-get(variables.$normal-type-colors, "normal") map-get(variables.$normal-type-colors, "hover") map-get(variables.$normal-type-colors, "shadow"),
    "poison" variables.$background-color map-get(variables.$poison-type-colors, "normal") map-get(variables.$poison-type-colors, "hover") map-get(variables.$poison-type-colors, "shadow"),
    "psychic" variables.$background-color map-get(variables.$psychic-type-colors, "normal") map-get(variables.$psychic-type-colors, "hover") map-get(variables.$psychic-type-colors, "shadow"),
    "rock" variables.$background-color map-get(variables.$rock-type-colors, "normal") map-get(variables.$rock-type-colors, "hover") map-get(variables.$rock-type-colors, "shadow"),
    "steel" variables.$base-color map-get(variables.$steel-type-colors, "normal") map-get(variables.$steel-type-colors, "hover") map-get(variables.$steel-type-colors, "shadow"),
    "water" variables.$background-color map-get(variables.$water-type-colors, "normal") map-get(variables.$water-type-colors, "hover") map-get(variables.$water-type-colors, "shadow");

  @each $type in $types {
    &.is-#{nth($type, 1)} {
      @include btn-style(nth($type, 2), nth($type, 3), nth($type, 4), nth($type, 5));
    }
    &.is#{nth($type, 1)} {
      @include btn-style(nth($type, 2), nth($type, 3), nth($type, 4), nth($type, 5));
    }
  }

  input[type="file"] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
}
