@use '../../variables' as variables;

$darkest-green: variables.$darkest-green;
$darker-green: variables.$darker-green;
$primary-green: variables.$primary-green;
$brighter-green: variables.$brighter-green;
$brightest-green: variables.$brightest-green;

// $darkest-green: #202119;
// $darker-green: #4d513a;
// $primary-green: #8d956e;
// $brighter-green: #c5d1a3;
// $brightest-green: #e6ecca;

$background-color: $primary-green;
$color-white: $brightest-green;
$darker-green: $darker-green;
$base-color: $darker-green;

// Here for posterity
// $default-colors: (
//   "normal":  #007bff,
//   "hover": #0056b3,
//   "shadow": rgba(0, 0, 0, 0.2)
// );

$default-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$base-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

@mixin list-before(
  $class,
  $disc-or-circle,
  $colors: ($base-color, map-get($default-colors, "shadow"))
) {
  &.is-#{$class} li::before {
    position: absolute;
    top: calc(50% - 8px);
    left: -22px;
    content: "";

    // @include pixelize(2px, $disc-or-circle, $colors);
  }
}

.nes-list {
  // prettier-ignore
  $disc: (
    (0,0,0,1,1,0,0,0),
    (0,0,1,1,1,1,0,0),
    (0,1,1,1,1,1,1,0),
    (0,1,1,1,1,1,1,0),
    (0,0,1,1,1,1,0,0),
    (0,0,0,1,1,0,0,0)
    );

  // prettier-ignore
  $circle: (
    (0,0,0,1,1,0,0,0),
    (0,0,1,1,1,1,0,0),
    (0,1,1,0,0,1,1,0),
    (0,1,1,0,0,1,1,0),
    (0,0,1,1,1,1,0,0),
    (0,0,0,1,1,0,0,0)
  );

  list-style-type: none;

  & li {
    position: relative;
  }

  @include list-before("disc", $disc);
  @include list-before("circle", $circle);

  &.is-dark {
    $dark-colors: ($background-color, $base-color);
    @include list-before("disc", $disc, $dark-colors);
    @include list-before("circle", $circle, $dark-colors);

    li {
      color: variables.$color-white;
    }
  }
}
