@use '../../variables' as variables;

$darkest-green: variables.$darkest-green;
$darker-green: variables.$darker-green;
$primary-green: variables.$primary-green;
$brighter-green: variables.$brighter-green;
$brightest-green: variables.$brightest-green;

$primary-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$success-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$warning-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$error-colors: (
  "normal": $brightest-green,
  "hover": $brightest-green,
  "shadow": $brightest-green
);

$disabled-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

.nes-text {
  &.is-primary {
    color: map-get($primary-colors, "normal");
  }

  &.is-success {
    color: map-get($success-colors, "normal");
  }

  &.is-warning {
    color: map-get($warning-colors, "normal");
  }

  &.is-error {
    color: map_get($error-colors, "normal");
  }

  &.is-disabled {
    color: map_get($disabled-colors, "normal");
  }
}
