@forward '../../variables';

$darkest-green: #202119;
$darker-green: #4d513a;
$primary-green: #8d956e;
$brighter-green: #c5d1a3;
$brightest-green: #e6ecca;

$primary-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$success-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$warning-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$error-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

$disabled-colors: (
  "normal": $primary-green,
  "hover": $brighter-green,
  "shadow": $darker-green
);

.nes-text {
  &.is-primary {
    color: map-get($primary-colors, "normal");
  }

  &.is-success {
    color: map-get($success-colors, "normal");
  }

  &.is-warning {
    color: map-get($warning-colors, "normal");
  }

  &.is-error {
    color: map_get($error-colors, "normal");
  }

  &.is-disabled {
    color: map_get($disabled-colors, "normal");
  }
}
