@import '../styles/variables';

.header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    //margin: 2rem auto;
    // padding: 1rem;
    //max-width: 40rem;
    width: 100%;




    ul {

        display: flex;
        gap: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;

    }

    a {

        font-size: 1.25rem;
        text-decoration: none;
        color: #8032e0;
    
        &:hover,
        &.active {

            color: #530080;
            
        }

    }

}
  
.formLabel {
    background-color: none;
}

.NESdialog {
background-color: $color-white;

}    

.navbar {

      display: inline-flex;
    
}

