// Dark Pokemon Stylesheet

.container {

	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;

	h1 {

		font-size: 3rem;
		margin: 2.4rem 0;

	}

	p {

		font-size: 1.4rem;
		margin: 2.4rem 0;

	}

	.type-icon {

		height: 128px;
		width: 128px;
		margin: auto;

		&.dark {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/17-dark.svg' );
			background-size: contain;
			background-repeat: no-repeat;

		}
	}

}
