// Bug Pokemon Stylesheet
@import "../styles/nes/base/variables.scss";

.container, .nesContainer {

	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;

	h1 {

		font-size: 3rem;
		margin: 2.4rem 0;

	}

	p {

		font-size: 1.4rem;
		margin: 2.4rem 0;

	}

	.type-icon, .typeIcon {

		height: 128px;
		width: 128px;
		margin: auto;

	}

}



.damageRelations {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	//border: $border-size;
	
	.nes-container, .nesContainer {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 300px;
		margin: .3rem;

		&.damageRelations__doubleDamageFrom {
			background-color: $color-error-normal;
			color: $background-color;
			h3{
				color: $background-color;
			}

		}
		
		&.damageRelations__doubleDamageTo {

			background-color: $color-success-normal;
			color: $background-color;
			h3{
				color: $background-color;
			}

			
		}
		
		&.damageRelations__halfDamageFrom {}
	
		&.damageRelations__halfDamageTo {}
		
		&.damageRelations__noDamageFrom {}
		
		&.damageRelations__noDamageTo {}
	
		h3 {
			font-size: 1.6rem;
		}
		ul {
			&.list-pokemon-types {
				list-style: none;
				li {
					list-style-type: none;
					//  button {}
				}
			}
		}
	}

}
