
.imgProfessor {
	height: 512px;
	width: 512px;
}

.st0{display:none;}
.st1{display:inline;fill:#660924;}
.st2{fill:#FAC090;}
.st3{fill:#999999;}
.st4{fill:#FFFFFF;}
.st5{display:inline;}
.st6{display:inline;fill:#FFFFFF;}
.st7{display:inline;fill:#999999;}
.st8{display:inline;fill:#FAC090;}
.st9{display:inline;fill:#B28767;}
