
//  Pokemon Types Pages Stylesheet

@import "../styles/nes/base/variables.scss";


.container, .nesContainer {

	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;

	h1 {
		font-size: 3rem;
		margin: 2.4rem 0;
	}

	p {
		font-size: 1.4rem;
		margin: 2.4rem 0;
	}
	.type-icon {

		height: 128px;
		width: 128px;
		margin: auto;
		
		&.dark {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/17-dark.svg' );
			background-size: contain;
			background-repeat: no-repeat;

		}

		&.dragon {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/16-dragon.svg' );
			background-size: contain;
			background-repeat: no-repeat;

		}

		&.electric {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/13-electric.svg' );
			background-size: contain;
			background-repeat: no-repeat;

		}

		&.fairy {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/18-fairy.svg' );
			background-size: contain;
			background-repeat: no-repeat;

		}

		&.fighting {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/02-fighting.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.fire {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/10-fire.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.flying {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/03-flying.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}
		
		&.ghost {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/08-ghost.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.grass {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/12-grass.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.ground {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/05-ground.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.ice {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/15-ice.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.normal {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/01-normal.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.poison {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/04-poison.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.psychic {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/14-psychic.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.rock {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/06-rock.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.steel {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/09-steel.svg' );
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.water {
			height: 128px;
			width: 128px;
			background-image: url( '../assets/type-icons-color/11-water.svg' );
			background-size: contain;
			background-repeat: no-repeat;
			
		}
		
	}

}

.damageRelations {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	.nes-container, .nesContainer {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 300px;
		margin: .2rem;
		justify-content: space-between;

		&.damageRelations__doubleDamageFrom {
			background-color: $color-error-normal;
			color: $background-color;
			
			h3{
				color: $background-color;
			}

		}
		
		&.damageRelations__doubleDamageTo {

			background-color: $color-success-normal;
			color: $background-color;
			h3{
				color: $background-color;
			}
		}
		
		&.damageRelations__halfDamageFrom {}
	
		&.damageRelations__halfDamageTo {}
		
		&.damageRelations__noDamageFrom {}
		
		&.damageRelations__noDamageTo {}
	
		h3 {
			font-size: 1.6rem;
		}
		ul {
			&.list-pokemon-types {
				list-style: none;
				li {
					list-style-type: none;
				}
			}
		}
	}
}
