@use '../../variables' as variables;

// Override reboot.scss
html,
body,
pre,
code,
kbd,
samp {
  font-family: variables.$font-family-primary;
}

// html {
//   cursor: variables.$cursor-url, auto;
// }

body {
  font-size: variables.$font-size-p;
  color: variables.$base-color;
  background-color: variables.$background-color;
  -webkit-font-smoothing: antialiased;
}

// label {
//   cursor: inherit;
// }

// a,
// button {
//   cursor: variables.$cursor-click-url, pointer;
// }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

// Prevent stray pixels on focused inputs such as checkboxes and radios
input[type="radio"],
input[type="checkbox"] {
  outline: 0;
}
