@use '../../../styles/variables' as vars;
@use "sass:color";

$border-size: 4px !default;

$color-default-normal: vars.$darker-green;
$color-default-hover: #e7e7e7;
$color-default-shadow: #adafbc;

$color-disabled-normal: #d3d3d3;
$color-disabled-normal: color.adjust(#d3d3d3, $lightness: 5%, $space: oklch);
$color-disabled-shadow: #adafbc;

$color-primary-normal: #040506;
$color-primary-hover: #108de0;
$color-primary-shadow: #006bb3;

$color-success-normal: #92cc41;
$color-success-hover: #76c442;
$color-success-shadow: #4aa52e;

$color-warning-normal: #f7d51d;
$color-warning-hover: #f2c409;
$color-warning-shadow: #e59400;

$color-error-normal: #e76e55;
$color-error-hover: #ce372b;
$color-error-shadow: #8c2022;

$font-family: vars.$font-family-primary;
$font-size: vars.$font-size-p;

$base-color: vars.$darkest-green !default;
$background-color: vars.$primary-green !default;

// $cursor-url: url( get-file-as-data-uri( "../../../../public/cursor.png" ) ) !default;
// $cursor-click-url: url( get-file-as-data-uri( "../../../../public/cursor-click.png" ) ) 14 0 !default;
// $cursor-url: '' !default;
// $cursor-click-url: '' !default;

$default-colors: (
  normal: $base-color,
  hover: $color-default-hover,
  shadow: $color-default-shadow
) !default;
$disabled-colors: (
  normal: $color-disabled-normal,
  hover:  $color-disabled-normal,
  shadow: $color-disabled-shadow
) !default;
$primary-colors: (
  normal: $color-primary-normal,
  hover: $color-primary-hover,
  shadow: $color-primary-shadow
) !default;
$success-colors: (
  normal: $color-success-normal,
  hover: $color-success-hover,
  shadow: $color-success-shadow
) !default;
$warning-colors: (
  normal: $color-warning-normal,
  hover: $color-warning-hover,
  shadow: $color-warning-shadow
) !default;
$error-colors: (
  normal: $color-error-normal,
  hover: $color-error-hover,
  shadow: $color-error-shadow
) !default;
