#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Press Start 2P', serif;
}

.row {
    
  .imgProfessorOak {
    
    // padding: 0 1rem;
    // margin: 1rem;
    // margin-bottom: 2rem;
    margin-top: 3rem;
    height: 256px;
    width: 256px;
    
  }

}

.avatar {
  
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
}

.wrapperOak {
  
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  
  width: 100%;
   
  
  .imgProfessorOak {
    align-self: flex-end;
    // justify-content: flex-end;
    
  }
  
}

h1 {
  
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-align: left;
  
  sup {
    
    font-size: 1.6rem;
    top: -0.8rem;
    
  }
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
