// Gameboy Color Palette

@use 'nes/nes' as nes;
@use './variables.scss' as variables;

$darkest-green: #202119;
$darker-green: #4d513a;
$primary-green: #8d956e;
$brighter-green: #c5d1a3;
$brightest-green: #e6ecca;

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button {
  font-family: "Press Start 2P";

  &.gameboy {
    font-family: "Press Start 2P";

  }
}

input[type="text"].gameboy {
  font-family: "Press Start 2P";
  margin-left: 2em;
}

// Gameboy Styles
.btn-gameboy {
  background: variables.$darkest-green;
  font-family: "Press Start 2P";

  &:hover,
  &:focus {
    background-color: color.adjust(variables.$darker-green, $lightness: 3%, $space: oklch);
  }

  &.active {
    background-color: color.adjust(variables.$darker-green, $lightness: -15%, $space: oklch);
    @extend .z-depth-1-half !optional;
  }
}

body.gameboy {
  background-color: variables.$brightest-green;
}

nav.gameboy {
  background-color: variables.$darker-green;
}

.jumbotron {
  &.gameboy {
    color: variables.$darker-green;
    background-color: variables.$brighter-green !important;
  }
}

div {

	&.card-body {

		&.gameboy {

			background-color: variables.$brighter-green;

		}

	}

}

footer.gameboy {
color: variables.$color-white;
background-color: variables.$darker-green;
font-family: "Press Start 2P";

}

a {

	color: variables.$color-white;
	text-decoration: none;

	&.btn-gameboy {

		font-family: "Press Start 2P" !important;
		text-decoration: none;

		&:hover {

			text-decoration: none;
		}
	}
}
