@use './variables' as vars;
@use './mixins' as mixins;
// @use '../gameboy' as gb;
@use "sass:color";

$border-size: vars.$border-size;

// List Box Styles for Pokemon Types
// There are 18 Types of Pokemon they are;

//	02. Fighting
$color-fighting: #c03028;
$border-color-fighting: #7d1f1a;

//	03. Flying
$color-flying: #a890f0;
$border-color-flying: #6d5e9c;

//	04. Poison
$color-poison: #a040a0;
$border-color-poison: #682a68;

//	05. Ground
$color-ground: #e0c068;
$border-color-ground: #927d44;

//	06. Rock
$color-rock: #b8a038;
$border-color-rock: #786824;

//	07. Bug
$color-bug: #a8b820;
$border-color-bug: #6d7815;

//	08. Ghost
$color-ghost: #705898;
$border-color-ghost: #493963;

//	09. Steel
$color-steel: #b8b8d0;
$border-color-steel: #787887;

//	10. Fire
$color-fire: #f08030;
$border-color-fire: #9c531f;

//	11. Water
$color-water: #6890f0;
$border-color-water: #445e9c;

//	12. Grass
$color-grass: #78c850;
$border-color-grass: #4e8234;

//	13. Electric
$color-electric: #f8d030;
$border-color-electric: #a1871f;

//	14. Psychic
$color-psychic: #f85888;
$border-color-psychic: #a13959;

//	15. Ice
$color-ice: #98d8d8;
$border-color-ice: #638d8d;

//	16. Dragon
$color-dragon: #7038f8;
$border-color-dragon: #4924a1;

//	17. Dark
$color-dark: #705848;
$border-color-dark: #49392f;

//	18. Fairy
$color-fairy: #ee99ac;
$border-color-fairy: #9b6470;

//	01. Normal
.type-normal {
  background-color: vars.$color-normal;
  border: 1px solid vars.$border-color-normal;
}

//	02. Fighting
.type-fighting {
  background-color: vars.$color-fighting;
  border: 1px solid vars.$border-color-fighting;
}

//	03. Flying
.type-flying {
  background-color: vars.$color-flying;
  border: 1px solid vars.$border-color-flying;
}

//	04. poison
.type-poison {
  background-color: vars.$color-poison;
  border: 1px solid vars.$border-color-poison;
}

//	05. Ground
.type-ground {
  background-color: vars.$color-ground;
  border: 1px solid vars.$border-color-ground;
}

//	06. Rock
.type-rock {
  background-color: vars.$color-rock;
  border: 1px solid vars.$border-color-rock;
}

//	07. Bug
.type-bug {
  background-color: vars.$color-bug;
  border: 1px solid vars.$border-color-bug;
}

//	08. Ghost
.type-ghost {
  background-color: vars.$color-ghost;
  border: 1px solid vars.$border-color-ghost;
}

//	09. Steel
.type-steel {
  background-color: vars.$color-steel;
  border: 1px solid vars.$border-color-steel;
}

//	10. Fire
.type-fire {
  background-color: vars.$color-fire;
  border: 1px solid vars.$border-color-fire;
}

//	11. Water
.type-water {
  background-color: vars.$color-water;
  border: 1px solid vars.$border-color-water;
}

//	12. Grass
.type-grass {
  background-color: vars.$color-grass;
  border: 1px solid vars.$border-color-grass;
}

//	13. Electric
.type-electric {
  background-color: vars.$color-electric;
  border: 1px solid vars.$border-color-electric;
}

//	14. Psychic
.type-psychic {
  background-color: vars.$color-psychic;
  border: 1px solid vars.$border-color-psychic;
}

//	15. Ice
.type-ice {
  background-color: vars.$color-ice;
  border: 1px solid vars.$border-color-ice;
}

//	16. Dragon
.type-dragon {
  background-color: vars.$color-dragon;
  border: 1px solid vars.$border-color-dragon;
}

//	17. Dark
.type-dark {
  background-color: vars.$color-dark;
  border: 1px solid vars.$border-color-dark;
}

//	18. Fairy
.type-fairy {
  background-color: vars.$color-fairy;
  border: 1px solid vars.$border-color-fairy;
}

// Text Effects

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  &.text-normal {
    color: vars.$color-normal;
  }

  &.text-fighting {
    color: vars.$color-fighting;
  }

  &.text-flying {
    color: vars.$color-flying;
  }

  &.text-poison {
    color: vars.$color-poison;
  }

  &.text-ground {
    color: vars.$color-ground;
  }

  &.text-rock {
    color: vars.$color-rock;
  }

  &.text-bug {
    color: vars.$color-bug;
  }

  &.text-ghost {
    color: vars.$color-ghost;
  }

  &.text-steel {
    color: vars.$color-steel;
  }

  &.text-fire {
    color: vars.$color-fire !important;
  }

  &.text-water {
    color: vars.$color-water;
  }

  &.text-grass {
    color: vars.$color-grass;
  }

  &.text-electric {
    color: vars.$color-electric;
  }

  &.text-psychic {
    color: vars.$color-psychic;
  }

  &.text-ice {
    color: vars.$color-ice;
  }

  &.text-dragon {
    color: vars.$color-dragon;
  }

  &.text-dark {
    color: vars.$color-dark;
  }

  &.text-fairy {
    color: vars.$color-fairy;
  }

}

/*
Game List
Red
Blue
Yellow
Gold
Silver
Crystal
Ruby
Sapphire
FireRed
LeafGreen
Emerald
Diamond
Pearl
Platinum
HeartGold
SoulSilver
Black
White
Black 2
White 2
X
Y
Omega Ruby
Alpha Sapphire
Sun
Moon
Ultra Sun
Ultra Moon
Let's Go Pikachu
Let's Go Eevee
Sword
Shield

*/


// There are 18 Types of Pokemon they are:

//	01. Normal
.type-normal {	
	$color-normal: #A8A878;
	$border-color-normal: #6D6D4E;
}
	
//	02. Fighting
.type-fighting {	
	$color-fighting: #C03028;
	$border-color-fighting: #7D1F1A;
}	
	
//	03. Flying
.type-flying {	
	$color-flying: #A890F0;
	$border-color-flying: #6D5E9C;
}	
	
//	04. Posion
.type-posion {	
	$color-poison: #A040A0;
	$border-color-poison: #682A68;
}	
	
//	05. Ground
.type-ground {	
	$color-ground: #E0C068;
	$border-color-ground: #927D44;
}
	
//	06. Rock
.type-rock {	
	$color-rock: #B8A038;
	$border-color-rock: #786824;
}	
	
//	07. Bug
.type-bug {	
	$color-bug: #A8B820;
	$border-color-bug: #6D7815;
}	
	
//	08. Ghost
.type-ghost {	
	$color-ghost: #705898;
	$border-color-ghost: #493963;
}	
	
//	09. Steel
.type-steel {	
	$color-steel: #B8B8D0;
	$border-color-steel: #787887;
}	
	
//	10. Fire
.type-fire {	
	$color-fire: #F08030;
	$border-color-fire: #9C531F;
}	
	
//	11. Water
.type-water {	
	$color-water: #6890F0;
	$border-color-water: #445E9C;
}	
	
//	12. Grass
.type-grass {	
	$color-grass: #78C850;
	$border-color-grass: #4E8234;
}	
	
//	13. Electric
.type-electric {	
	$color-electric: #F8D030;
	$border-color-: #A1871F;
}	
	
//	14. Psychic
.type-psyhic {	
	$color-psychic: #F85888;
	$border-color-psychic: #A13959;
}	
	
//	15. Ice
.type-ice {	
	$color-ice: #98D8D8;
	$border-color-ice: #638D8D;
}	
	
//	16. Dragon
.type-dragon {	
	$color-dragon: #7038F8;
	$border-color-dragon: #4924A1;
}
	
//	17. Dark
.type-dark {	
	$color-dark: #705848;
	$border-color-dark: #49392F;	
}	
//	18. Fairy
.type-fairy {	
	$color-fairy: #EE99AC;
	$border-color-fairy: #9B6470;
}

// WRAPPERS
//	01. Normal
.wrapper-normal {	
	color: vars.$border-color-normal;
	background-color: color.adjust(vars.$color-normal, $lightness: 10%, $space: oklch);
}
	
//	02. Fighting
.wrapper-fighting {	
	color: vars.$border-color-fighting;
	background-color: color.adjust(vars.$color-fighting, $lightness: 10%, $space: oklch);
}	
	
//	03. Flying
.wrapper-flying {	
	color: vars.$border-color-flying;
	background-color: color.adjust(vars.$color-flying, $lightness: 10%, $space: oklch);
}	
	
//	04. Posion
.wrapper-posion {	
	color: vars.$border-color-poison;
	background-color: color.adjust(vars.$color-poison, $lightness: 10%, $space: oklch);
}	
	
//	05. Ground
.wrapper-ground {	
	color: vars.$border-color-ground;
	background-color: color.adjust(vars.$color-ground, $lightness: 10%, $space: oklch);
}
	
//	06. Rock
.wrapper-rock {	
	color: vars.$border-color-rock;
	background-color: color.adjust(vars.$color-rock, $lightness: 10%, $space: oklch);
}	
	
//	07. Bug
.wrapper-bug {	
	color: vars.$border-color-bug;
	background-color: color.adjust(vars.$color-bug, $lightness: 10%, $space: oklch);
}	
	
//	08. Ghost
.wrapper-ghost {	
	color: vars.$border-color-ghost;
	background-color: color.adjust(vars.$color-ghost, $lightness: 10%, $space: oklch);
}	
	
//	09. Steel
.wrapper-steel {	
	color: vars.$border-color-steel;
	background-color: color.adjust(vars.$color-steel, $lightness: 10%, $space: oklch);
}	
	
//	10. Fire
.wrapper-fire {	
	color: vars.$border-color-fire;
	background-color: color.adjust(vars.$color-fire, $lightness: 10%, $space: oklch);
}	
	
//	11. Water
.wrapper-water {	
	color: vars.$border-color-water;
	background-color: color.adjust(vars.$color-water, $lightness: 10%, $space: oklch);
}	
	
//	12. Grass
.wrapper-grass {	

	color: vars.$border-color-grass;
	background-color: color.adjust(vars.$color-grass, $lightness: 10%, $space: oklch);
}	
	
//	13. Electric
.wrapper-electric {
	color: vars.$border-color-electric;
	background-color: color.adjust(vars.$color-electric, $lightness: 10%, $space: oklch);
}	
	
//	14. Psychic
.wrapper-psyhic {
	color: vars.$border-color-psychic;
	background-color: color.adjust(vars.$color-psychic, $lightness: 10%, $space: oklch);
}	
	
//	15. Ice
.wrapper-ice {	
	color: vars.$border-color-ice;
	background-color: color.adjust(vars.$color-ice, $lightness: 10%, $space: oklch);
}	
	
//	16. Dragon
.wrapper-dragon {	
	color: vars.$border-color-dragon;
	background-color: color.adjust(vars.$color-dragon, $lightness: 10%, $space: oklch);
}
	
//	17. Dark
.wrapper-dark {	
	color: vars.$border-color-dark;
	background-color: color.adjust(vars.$color-dark, $lightness: 10%, $space: oklch);
}	
//	18. Fairy
.wrapper-fairy {	
	color: vars.$border-color-fairy;
	background-color: color.adjust(vars.$color-fairy, $lightness: 10%, $space: oklch);
}

// LINKS

//	01. Normal

a.type-normal {
	&:hover {
		background-color: color.adjust(vars.$color-normal, $lightness: -10%, $space: oklch);
		
	}
}

//	02. Fighting
a.type-fighting {
	&:hover {
		background-color: color.adjust(vars.$color-fighting, $lightness: -10%, $space: oklch);
	}
}

//	03. Flying
a.type-flying {
	&:hover {
		background-color: color.adjust(vars.$color-flying, $lightness: -10%, $space: oklch);
	}
}

//	04. Posion
a.type-posion {
	&:hover {
		background-color: color.adjust(vars.$color-poison, $lightness: -10%, $space: oklch);
	}
}

//	05. Ground
a.type-ground {
	&:hover {
		background-color: color.adjust(vars.$color-ground, $lightness: -10%, $space: oklch);
	}
}

//	06. Rock
a.type-rock {
	&:hover {
		background-color: color.adjust(vars.$color-rock, $lightness: -10%, $space: oklch);
	}
}

//	07. Bug
a.type-bug {
	&:hover {
		background-color: color.adjust(vars.$color-bug, $lightness: -10%, $space: oklch);
	}
}

//	08. Ghost
a.type-ghost {
	&:hover {
		background-color: color.adjust(vars.$color-ghost, $lightness: -10%, $space: oklch);
	}
}

//	09. Steel
a.type-steel {
	&:hover {
		background-color: color.adjust(vars.$color-steel, $lightness: -10%, $space: oklch);
	}
}

//	10. Fire
a.type-fire {
	&:hover {
		background-color: color.adjust(vars.$color-fire, $lightness: -10%, $space: oklch);
	}
}

//	11. Water
a.type-water {
	&:hover {
		background-color: color.adjust(vars.$color-water, $lightness: -10%, $space: oklch);
	}
}

//	12. Grass
a.type-grass {
	&:hover {
		background-color: color.adjust(vars.$color-grass, $lightness: -10%, $space: oklch);
	}
}

//	13. Electric
a.type-electric {
	&:hover {
		background-color: color.adjust(vars.$color-electric, $lightness: -10%, $space: oklch);

	}
}

//	14. Psychic
a.type-psychic {
	&:hover {
		background-color: color.adjust(vars.$color-psychic, $lightness: -10%, $space: oklch);
	}
}

//	15. Ice
a.type-ice {
	&:hover {
		background-color: color.adjust(vars.$color-ice, $lightness: -10%, $space: oklch);
	}
}

//	16. Dragon
a.type-dragon {
	&:hover {
		background-color: color.adjust(vars.$color-dragon, $lightness: -10%, $space: oklch);
	}
}

//	17. Dark
a.type-dark {
	&:hover {
		background-color: color.adjust(vars.$color-dark, $lightness: -10%, $space: oklch);
	}
}

//	18. Fairy
a.type-fairy {
	&:hover {
		background-color: color.adjust(vars.$color-fairy, $lightness: -10%, $space: oklch);
	}
}

// TEXT
//	01. Normal
.text-normal {
	$color-normal: #A8A878;
	color: vars.$color-normal;

	&.dark{
		$color-normal: #6D6D4E;
		color: vars.$color-normal;
	}
}

//	02. Fighting
.text-fighting {	
	$color-fighting: #C03028;
	color: vars.$color-fighting;
	&.dark{
		$color-fighting: #7D1F1A;
		color: vars.$color-fighting;
	}
}

//	03. Flying
.text-flying {	
	$color-flying: #A890F0;
	color: vars.$color-flying;
	&.dark{
		$color-flying: #6D5E9C;
		color: vars.$color-flying;
	}
}

//	04. Posion
.text-posion {	
	$color-poison: #A040A0;
	color: vars.$color-poison;
	&.dark{
		$color-poison: #682A68;
		color: vars.$color-poison;
	}
}

//	05. Ground
.text-ground {	
	$color-ground: #E0C068;
	color: vars.$color-ground;
	&.dark{
		$color-ground: #927D44;
		color: vars.$color-ground;
	}
}

//	06. Rock
.text-rock {	
	$color-rock: #B8A038;
	color: vars.$color-rock;
	&.dark{
		$color-rock: #786824;
		color: vars.$color-rock;
	}
}

//	07. Bug
.text-bug {	
	$color-bug: #A8B820;
	color: vars.$color-bug;
	&.dark{
		$color-bug: #6D7815;
		color: vars.$color-bug;
	}
}

//	08. Ghost
.text-ghost {	
	$color-ghost: #705898;
	color: vars.$color-ghost;
	&.dark{
		$color-ghost: #493963;
		color: vars.$color-ghost;
	}
}

//	09. Steel
.text-steel {	
	$color-steel: #B8B8D0;
	color: vars.$color-steel;
	&.dark{
		$color-steel: #787887;
		color: vars.$color-steel;
	}
}

//	10. Fire
.text-fire {	
	$color-fire: #F08030;
	color: vars.$color-fire;
	&.dark{
		$color-fire: #9C531F;
		color: vars.$color-fire;
	}
}

//	11. Water
.text-water {	
	$color-water: #6890F0;
	color: vars.$color-water;
	&.dark{
		$color-water: #445E9C;
		color: vars.$color-water;
	}
}

//	12. Grass
.text-grass {	
	$color-grass: #78C850;
	color: vars.$color-grass;
	&.dark{
		$color-grass: #4E8234;
		color: vars.$color-grass;
	}
}

//	13. Electric
.text-electric {	
	$color-electric: #F8D030;
	color: vars.$color-electric;
	&.dark{
		$color-electric: #A1871F;
		color: vars.$color-electric;
	}
}

//	14. Psychic
.text-psyhic {	
	$color-psychic: #F85888;
	color: vars.$color-psychic;
	&.dark{
		$color-psychic: #A13959;
		color: vars.$color-psychic;
	}
}

//	15. Ice
.text-ice {	
	$color-ice: #98D8D8;
	color: vars.$color-ice;
	&.dark{
		$color-ice: #638D8D;
		color: vars.$color-ice;
	}
}

//	16. Dragon
.text-dragon {	
	$color-dragon: #7038F8;
	color: vars.$color-dragon;	
	&.dark{
		$color-dragon: #4924A1;
		color: vars.$color-dragon;
	}
}

//	17. Dark
.text-dark {	
	$color-dark: #705848;
	color: vars.$color-dark;
	&.dark{
		$color-dark: #49392F;	
		color: vars.$color-dark;
	}
}

//	18. Fairy
.text-fairy {	
	$color-fairy: #EE99AC;
	color: vars.$color-fairy;
	&.dark{
		$color-fairy: #9B6470;
		color: vars.$color-fairy;
	}
}

.single-type-page {

	@media screen and (min-width: 768px) {

		h2 {

			padding-top: 6rem;
			padding-bottom: 3rem;

		}
	}

	@media screen and (max-width: 768px) {
		
		h2 {

			padding-top: 4rem;
			padding-bottom: 2rem;

		}
	}
}

.type-container, .container-type {
	background-image: url('../assets/type-icons-color-dark/01-normal.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	border-style: solid;
	border-width: 4px;
	min-height: 250px;
	min-width: 320px;
	position: relative;
	padding: 1.5rem 2rem;
	
  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: vars.$border-size;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: vars.$base-color;
	}

	&.with-title {
	  > .title {
		color: vars.$background-color;
		background-color: vars.$base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();
	padding: 1rem 1.5rem;
	margin: vars.$border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	&.title-page {
		margin-bottom: 2rem;
	}
  }
}

// $background-color: vars.$color-normal;
$base-color: vars.$color-normal;

.type-normal-container, .container-type-normal {

	@extend .type-container;

	background-color: vars.$color-normal;
	background-image: url('../assets/type-icons-color-dark/01-normal.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	border-color: vars.$border-color-normal;
	min-height: 250px;
	min-width: 320px;

  &.is-dark {
	position: relative;
	margin: vars.$border-size;
	color: vars.$background-color;
	background-color: $base-color;
	border-color: vars.$color-normal;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: vars.$background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();
	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }

}

$background-color: vars.$color-dark;
$base-color: vars.$color-dark;

.type-fighting-container, .container-type-fighting {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-fighting;
	background-image: url('../assets/type-icons-color-dark/02-fighting.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;

	border-color: $border-color-fighting;
	border-style: solid;
	border-width: 4px;

	color: $border-color-fighting;

	margin: auto;

	position: relative;
	padding: 1.5rem 2rem;

	&.with-title {
		> .title {
			background-color: $color-fighting;
		}
	}

	&.is-dark {
		position: relative;
		margin: $border-size;
		color: $border-color-fighting;
		background-color: $color-fighting;
		border-color: $border-color-fighting;
		&::after {
			background-color: $color-fighting;
			position: absolute;
			top: -$border-size * 1.8;
			right: -$border-size * 1.8;
			bottom: -$border-size * 1.8;
			left: -$border-size * 1.8;
			content: "";
			z-index: -1;
		}

		&.with-title {
			> .title {
				color: $border-color-fighting;
				background-color: $color-fighting;
			}
		}
	}
	h1 {
		margin-top: 4.5rem;
	  }
}

$background-color: $color-flying;
$base-color: $color-flying;

.type-flying-container, .container-type-flying {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-flying;
	background-image: url('../assets/type-icons-color-dark/03-flying.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;


  position: relative;
  padding: 1.5rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }

}

$background-color: $color-poison;
$base-color: $color-poison;

.type-poison-container, .container-type-poison {

	min-height: 250px;
	min-width: 320px;
	background-color: $color-poison;
	background-image: url('../assets/type-icons-color-dark/04-poison.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	border-color: black;
	border-style: solid;
	border-width: 4px;	
	position: relative;
	padding: 1.5rem 2rem;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }
  
}

$background-color: $color-ground;
$base-color: $color-ground;

.type-ground-container, .container-type-ground {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-ground;
	background-image: url('../assets/type-icons-color-dark/05-ground.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

	> :last-child {
		margin-bottom: 0;
	}

	&.is-centered {
		text-align: center;
	}

	&.is-right {
		text-align: right;
	}

	&.with-title {
		> .title {
		display: table;
		padding: 0 0.5rem;
		margin: -1.8rem 0 1rem;
		font-size: 1rem;
		background-color: $background-color;
		}

		&.is-centered {
		> .title {
			margin: -2rem auto 1rem;
		}
		}

		&.is-right {
		> .title {
			margin: -2rem 0 1rem auto;
		}
		}
	}

	&.is-dark {
		position: relative;
		margin: $border-size;
		color: $background-color;
		background-color: $base-color;
		border-color: white;

		&::after {
		position: absolute;
		top: -$border-size * 1.8;
		right: -$border-size * 1.8;
		bottom: -$border-size * 1.8;
		left: -$border-size * 1.8;
		z-index: -1;
		content: "";
		background-color: $base-color;
		}

		&.with-title {
		> .title {
			color: $background-color;
			background-color: $base-color;
		}
		}
	}

	&.is-rounded {
		@include mixins.rounded-corners();

		padding: 1rem 1.5rem;
		margin: $border-size;

		&.with-title {
		> .title {
			margin-top: -1.5rem;
		}

		&.is-centered {
			> .title {
			margin: -1.5rem auto 1rem;
			}
		}

		&.is-right {
			> .title {
			margin: -1.5rem 0 1rem auto;
			}
		}
		}

		&.is-dark {
			@include mixins.rounded-corners(true);
			&::after {
				content: none;
			}

			&.with-title {
				> .title {
					margin-top: -1.3rem;
				}

				&.is-centered {
					> .title {
						margin: -1.3rem auto 1rem;
					}
				}

				&.is-right {
					> .title {
						margin: -1.3rem 0 1rem auto;
					}
				}
			}
		}
	}

	h1 {
		margin-top: 4.5rem;
	}

}

$background-color: $color-rock;
$base-color: $color-rock;

.type-rock-container, .container-type-rock {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-rock;
	background-image: url('../assets/type-icons-color-dark/06-rock.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;

	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }

}

$background-color: $color-bug;
$base-color: $color-bug;

.type-bug-container, .container-type-bug {

	background-color: $color-bug;
	background-image: url('../assets/type-icons-color-dark/07-bug.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	position: relative;
	padding: 1.5rem 2rem;
	background-color: color.adjust(vars.$color-bug, $lightness: -20%, $space: oklch);

	
	border-style: solid;
	border-width: 4px;
	min-height: 250px;
	min-width: 320px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }

}

$background-color: $color-ghost;
$base-color: $color-ghost;

.type-ghost-container, .container-type-ghost {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-ghost;
	background-image: url('../assets/type-icons-color-dark/08-ghost.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;




  position: relative;
  padding: 1.5rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }

}

$background-color: $color-steel;
$base-color: $color-steel;

.type-steel-container, .container-type-steel {


	min-height: 250px;
	min-width: 320px;

	background-color: $color-steel;
	background-image: url('../assets/type-icons-color-dark/09-steel.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;


  position: relative;
  padding: 1.5rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-fire;
$base-color: $color-fire;

.type-fire-container, .container-type-fire {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-fire;
	background-image: url('../assets/type-icons-color-dark/10-fire.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;

	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

	> :last-child {
		margin-bottom: 0;
	}

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-water;
$base-color: $color-water;

.type-water-container, .container-type-water {

	background-color: $color-water;
	background-image: url('../assets/type-icons-color-dark/11-water.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	min-height: 250px;
	min-width: 320px;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-grass;
$base-color: $color-grass;

.type-grass-container, .container-type-grass {

	background-color: $color-grass;
	background-image: url('../assets/type-icons-color-dark/12-grass.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	min-height: 250px;
	min-width: 320px;
	position: relative;
	padding: 1.5rem 2rem;


  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-electric;
$base-color: $color-electric;

.type-electric-container, .container-type-electric {

	min-height: 250px;
	min-width: 320px;
	background-color: $color-electric;
	background-image: url('../assets/type-icons-color-dark/13-electric.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }

  h1 {
	margin-top: 4.5rem;
  }

	@media (max-width: 719px) {
		h1 {
			font-size: 2.4em;
		}
		
	}

	@media (min-width: 720px) {
		h1 {
			font-size: 3.2em;
		}
	}

}

$background-color: $color-psychic;
$base-color: $color-psychic;

.type-psychic-container, .container-type-psychic {

	background-color: $color-psychic;
	background-image: url('../assets/type-icons-color-dark/14-psychic.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	min-height: 250px;
	min-width: 320px;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-ice;
$base-color: $color-ice;

.type-ice-container, .container-type-ice {


	background-color: $color-ice;
	background-image: url('../assets/type-icons-color-dark/15-ice.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;

	min-height: 250px;
	min-width: 320px;

  position: relative;
  padding: 1.5rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-dragon;
$base-color: $color-dragon;

.type-dragon-container, .container-type-dragon {
	
	min-height: 250px;
	min-width: 320px;
	background-color: $color-dragon;
	background-image: url('../assets/type-icons-color-dark/16-dragon.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

  > :last-child {
	margin-bottom: 0;
  }

  &.is-centered {
	text-align: center;
  }

  &.is-right {
	text-align: right;
  }

  &.with-title {
	> .title {
	  display: table;
	  padding: 0 0.5rem;
	  margin: -1.8rem 0 1rem;
	  font-size: 1rem;
	  background-color: $background-color;
	}

	&.is-centered {
	  > .title {
		margin: -2rem auto 1rem;
	  }
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8;
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-dark;
$base-color: $color-dark;

.type-dark-container, .container-type-dark {

	min-height: 250px;
	min-width: 320px;

	background-color: $color-dark;
	background-image: url('../assets/type-icons-color-dark/17-dark.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;

	> :last-child {
		margin-bottom: 0;
	}

	&.is-centered {
		text-align: center;
	}

	&.is-right {
		text-align: right;
	}

	&.with-title {
		> .title {
			display: table;
			padding: 0 0.5rem;
			margin: -1.8rem 0 1rem;
			font-size: 1rem;
			background-color: $background-color;
		}

		&.is-centered {
		> .title {
			margin: -2rem auto 1rem;
		}
	}

	&.is-right {
	  > .title {
		margin: -2rem 0 1rem auto;
	  }
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: white;

	&::after {
	  position: absolute;
	  top: -$border-size * 1.8;
	  right: -$border-size * 1.8;
	  bottom: -$border-size * 1.8;
	  left: -$border-size * 1.8; 
	  z-index: -1;
	  content: "";
	  background-color: $base-color;
	}

	&.with-title {
	  > .title {
		color: $background-color;
		background-color: $base-color;
	  }
	}
  }

  &.is-rounded {
	@include mixins.rounded-corners();

	padding: 1rem 1.5rem;
	margin: $border-size;

	&.with-title {
	  > .title {
		margin-top: -1.5rem;
	  }

	  &.is-centered {
		> .title {
		  margin: -1.5rem auto 1rem;
		}
	  }

	  &.is-right {
		> .title {
		  margin: -1.5rem 0 1rem auto;
		}
	  }
	}

	&.is-dark {
	  @include mixins.rounded-corners(true);
	  &::after {
		content: none;
	  }

	  &.with-title {
		> .title {
		  margin-top: -1.3rem;
		}

		&.is-centered {
		  > .title {
			margin: -1.3rem auto 1rem;
		  }
		}

		&.is-right {
		  > .title {
			margin: -1.3rem 0 1rem auto;
		  }
		}
	  }
	}
  }
  h1 {
	margin-top: 4.5rem;
  }
}

$background-color: $color-fairy;
$base-color: $color-fairy;

.type-fairy-container, .container-type-fairy {
	background-color: $color-fairy;
	background-image: url('../assets/type-icons-color-dark/18-fairy.svg');
	background-position: top 2em center;
	background-repeat: no-repeat;
	background-size: 3em;
	position: relative;
	padding: 1.5rem 2rem;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	min-height: 250px;
	min-width: 320px;

  &.with-title {
	> .title {
	  background-color: $background-color;
	}
  }

  &.is-dark {
	position: relative;
	margin: $border-size;
	color: $background-color;
	background-color: $base-color;
	border-color: vars.$color-white;

	&::after {
	  position: absolute;
	  background-color: vars.$base-color;

	}

	&.with-title {
	  > .title {
		color: vars.$background-color;
		background-color: vars.$base-color;

	  }
	}
  }

  h1 {
	margin-top: 4.5rem;

  }
}
